*{
	text-decoration: none;
}


/*header*/

header{
  background-color: #D1F3EF;
    padding: 2em 0;
}
header h1{
  text-align: center;
  font-size: 30px;
}

header nav {
  display: grid;
  text-align: center;
}
header span
{
	text-align: center;
}
header,nav,a{
   color: #79B7B5; 
   text-shadow: 1px 1px 2px black;
   text-align: center;
}

header a:visited{
  text-decoration: none;

}

header a:hover{
   text-decoration: underline;
   color: #427E7C;
   cursor: hand;
}

header div
{
    display:none;
}

#headerPerfilUsuario table ,p,  #buscarUsuario table{

    text-shadow: none;
    text-decoration: none;
}

#imagenPerfil, #buscarUsuario img{
    width: 90px;
    height: 80px;
    border-radius: 50%;
    margin-right: 1rem;
}

#FotoYtipo figure{
    align-self: flex-end;   
}

/*Section*/
section#sectionLogin input{
	border-radius: 10px;
	border-color: #24DDDD;
	background-color: #d9dada;
	
}
section#sectionLogin  div{
	border: double;
	padding: 10px;
	margin: auto;
}


section.best img{
width: 100%;
height: 400px;
justify-content: center;
align-items: center;
display: table-header-group;
}

section.best{
  background-color: #E5F9F7;
    padding: 0px 10px;
    display: none;
}

section.best p{
    color: #2AA7A0; 
   text-shadow: 0 0 2px darkblue;
   justify-content: center;
   align-items: center;
   display:flex;
}

section.best a p{
 border-radius: 10%;
 border-color: blue;
}


section.best{
  padding: 2rem 0;
}
section.best h3{
  
  color: white;
  font-weight: bold;
  font-size: 1rem;
}
section.best article{
  
  flex-wrap: wrap;
  display: flex;
	display: block;
}

section.best article figure figcaption{
  background-color: #D7EEED;

}
section.registro{
    display:none;
}
section.registro input{
	border-radius: 10px;
	border-color: #16DFDF;
	background-color: #d9dada;
	text-transform: capitalize;
}
section.registro div{
	border: double;
	padding: 10px;
	margin: auto;
}

/*Section*/


section#PerfilUser{
    
     display:none;
    
}

section#FotoYtipo{
    
     display:none;
    
}

section#buscarUsuarioSection,header#buscarUsuario{
    
    display:none;
    
}
section#buscarUsuarioSection{
  background-color: #E5F9F7;
    padding: 0px 10px;
}

section#buscarUsuarioSection p{
    color: #2AA7A0; 
}


#buscarUsuarioSection article{
	display: flex;
	justify-content: center;
	align-items: center;
}

#FotoYtipo
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    background-color: rgba(121, 183, 181, 0.5);
    width: 96%;
    height: 300px;
}

#FotoYtipo form
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
}

#FotoYtipo form select
{
    margin: 1rem;
}

section#buscarUsuarioSection img{
width: 100%;
height: 200px;
justify-content: center;
align-items: center;
display:flex;
}

section#buscarUsuarioSection{
  padding: 2rem 0;
}
section#buscarUsuarioSection h3{
  
  color: white;
  font-weight: bold;
  font-size: 1rem;
}
section#buscarUsuarioSection article{
  
  flex-wrap: wrap;
  display: flex;
	display: block;
}

section#buscarUsuarioSection article figure figcaption{
  background-color: #D7EEED;

}



#subirFoto {

        background:url("cam.png") no-repeat;
        color:#000;
        width:292px;
        height:25px;
        top:15px;      
        left:499px;
        border:none;
        font-size:12px;
}
#Close{
        background:url("close.png") no-repeat;
        color:#000;
        width:292px;
        height:40px;
        top:15px;      
        left:499px;
        border:none;
        font-size:12px;
}

#FotosubidaExito
{
    color: darkgreen;
    display: none;
}

.imgUser figure{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem 0;
}
.imgUser figure img{
    max-height: 300px;
    max-width: 300px;
}
.imgUser p{
    text-align: center;
    color: #79B7B5;
    font-weight: bold;
}

.error{
    display: none;
}

/*Footer*/
footer{
  display: none;
  flex-direction: column;
  align-items: center;
  padding: 5em 0;
  background-color: #D1F3EF;
  font-family: sans-serif;
}

footer div a i{
 font-size: 50px;
 padding: 20px;
}
