*{
	text-decoration: none;
}


/*header*/

header{
  background-color: #D1F3EF;
    padding: 2em 0;
}
header h1{
  text-align: center;
  font-size: 30px;
}

header nav {
  display: grid;
  text-align: center;
}
header span
{
	text-align: center;
}
header,nav,a{
   color: #79B7B5; 
   text-shadow: 1px 1px 2px black;
   text-align: center;
}

header a:visited{
  text-decoration: none;

}

header a:hover{
   text-decoration: underline;
   color: #427E7C;
   cursor: hand;
}

header div
{
    display:none;
}

/*Section*/
section#sectionLogin input{
	border-radius: 10px;
	border-color: #24DDDD;
	background-color: #d9dada;
	
}
section#sectionLogin  div{
	border: double;
	padding: 10px;
	margin: auto;
}



section.best{
  background-color: #E5F9F7;
    padding: 0px 10px;
    display: none;
}

section.best p{
    color: #2AA7A0; 
   text-shadow: 0 0 2px darkblue;



}
section.best a p{
 border-radius: 10%;
 border-color: blue;
}

section.best article{
	display: flex;
	justify-content: center;
	align-items: center;
}

section.best{
  padding: 2rem 0;
}
section.best h3{
  
  color: white;
  font-weight: bold;
  font-size: 1rem;
}
section.best article{
  display: flex;
  flex-wrap: wrap;
}

section.best article figure figcaption{
  background-color: #D7EEED;

}
section.registro{
    display:none;
}
section.registro input{
	border-radius: 10px;
	border-color: #16DFDF;
	background-color: #d9dada;
	text-transform: capitalize;
}
section.registro div{
	border: double;
	padding: 10px;
	margin: auto;
}

/*Footer*/

footer{
  display: none;
  flex-direction: column;
  align-items: center;
  padding: 5em 0;
  background-color: #D1F3EF;
  font-family: sans-serif;
}

footer div a i{
 font-size: 50px;
 padding: 20px;
}
